<a href="https://colab.research.google.com/github/chaithanyai311/Artificial-Intelligence-mini-project/blob/main/CountVectorizer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Build a count vectorizer from scratch 
You can use libraries such as Numpy and Pandas

Hint : use list methods, for loops and conditions

Consider the following list as input

In [ ]:
s = ['She is going to market',
     'She is going to my house and then going to my friend house' ,
     'Market is near my house',
     'He is going to his house and then market']

In [ ]:
#splitting the list
s1=s[:1]
s2=s[1:2]
s3=s[2:3]
s4=s[3:4]

In [ ]:
from collections import Counter
from scipy.sparse import csr_matrix
for index, sentence in enumerate(s1):
  count1=dict(Counter(sentence.split(' ')))
  print(count1)
for index, sentence in enumerate(s2):
  count2=dict(Counter(sentence.split(' ')))
  print(count2)
for index, sentence in enumerate(s3):
  count3=dict(Counter(sentence.split(' ')))
  print(count3)
for index, sentence in enumerate(s4):
  count4=dict(Counter(sentence.split(' ')))
  print(count4)

{'She': 1, 'is': 1, 'going': 1, 'to': 1, 'market': 1}
{'She': 1, 'is': 1, 'going': 2, 'to': 2, 'my': 2, 'house': 2, 'and': 1, 'then': 1, 'friend': 1}
{'Market': 1, 'is': 1, 'near': 1, 'my': 1, 'house': 1}
{'He': 1, 'is': 1, 'going': 1, 'to': 1, 'his': 1, 'house': 1, 'and': 1, 'then': 1, 'market': 1}

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame()
df = df.append(count1,ignore_index=True)
df = df.append(count2,ignore_index=True)
df = df.append(count3,ignore_index=True)
df = df.append(count4,ignore_index=True)
df=df.fillna(0)
column_type={'She':int,'is':int,'going':int,'to':int,'market':int,'and':int,'friend':int,'house':int,'my':int,'then':int,'Market':int,'near':int,'He':int,'his':int}
df=df.astype(column_type)
df

   She  is  going  to  market  and  ...  my  then  Market  near  He  his
0    1   1      1   1       1    0  ...   0     0       0     0   0    0
1    1   1      2   2       0    1  ...   2     1       0     0   0    0
2    0   1      0   0       0    0  ...   1     0       1     1   0    0
3    0   1      1   1       1    1  ...   0     1       0     0   1    1

[4 rows x 14 columns]